extends layout

block content
  h1= title
  p Welcome to #{title}
  p
   a(href='/business/upload') Business upload
  p 
   a(href='/admin/upload') Admin upload
  p 
   a(href='/admin/addLandlord') Data 
  p 
   a(href='/logout') Logout 

