extends layout

block content
  div#AdData
    .row.display
      .col.s5.m3.listHeadersRight  نوع العقار
      .col.s7.m9
        span=data.type
    .row.display
      .col.s5.m3.listHeadersRight  المنطقة
      .col.s7.m9
        span=data.region
    .row.display
      .col.s5.m3.listHeadersRight  المساحة 
      .col.s7.m9
        span=data.area.toString().toIndiaDigits() + ' (م٢)'
    .row.display
      .col.s5.m3.listHeadersRight  السعر
      .col.s7.m9
        - var price = data.price.toString().toIndiaDigits() + ' ريال'
        span=price
    .row.display
      .col.s5.m3.listHeadersRight
        i.material-icons remove_red_eye
      .col.s7.m9
        - var noOfViews = data.noOfViews==undefined ? '0' : data.noOfViews;
        - noOfViews =  noOfViews.toString().toIndiaDigits() + ' مشاهدة'
        span= noOfViews
    .row.display
      .col.s12.m3.listHeadersRight(style='text-align:center;')  التفاصيل
      .col.s12.m9(style='text-align:justify;white-space: pre-line;')
        - var details = data.details.replace(/\n\s*\n/g, '\n');
        - var less = details.substring(0,100)
        div#less(style='display:block;')=less
        div#more(style='display:none;')=details
        div(style='text-align:center; margin-top:10px;')
          a#detailsToggle أظهر أكثر
    .row.display
       .col.s12.m6(style='text-align:center; margin-bottom:20px;')
        form#captchaForm(action='POST')
          //div.g-recaptcha(data-sitekey='6LcJb0UUAAAAAMF-pk_PxAeJjZRUqYIpiPFrE9rH', data-size='invisible', data-callback='onHuman') 
          //input#captcha(type='hidden', name='captcha' value='')
          //button(type='submit')   
          button.waves-effect.waves-light.btn.g-recaptcha(data-sitekey='6LcJb0UUAAAAAMF-pk_PxAeJjZRUqYIpiPFrE9rH', data-expired-callback='expiredFunc', data-callback='onHuman')تواصل مع المالك
       .col.s12.m6#mobileWA(style='min-height: 1px; text-align:center;')
    .row.display
       .col.s12.m7(style='text-align:center;')
         a#WhatsAppShare(href='https://api.whatsapp.com/send?text='+whatsappText, target='_blank')
         div(style='margin-top: 25px;') 
            i.material-icons(style='animation: slide1 0.7s ease-in-out infinite;') arrow_forward
            شارك في الواتساب
       .col.s12.m6(style='min-height: 1px;')
    - var offer = data.offer;
    if offer == 'إيجار'
      .ribbon
        span #{offer}
    else
      .ribbon.redRibbon
        span #{offer}

  div(style='direction:rtl; max-width:500px; margin:0px auto;')
    - var imageText = {};
    - if (data.imageText) {
    -   imageText = JSON.parse(data.imageText)
    - } 
    each val, index in data.images
      div(style='position:relative;')
        img(src=url+val, width='100%', style='max-width:100%;')
        if imageText[index]
          div.imageCaption #{imageText[index]}
  div#sid(style='display:none') #{data.sid}
  script
    include customer.js   