extends layout

block content
  style.
    footer.page-footer {
      margin-top:0px;
    }
  div
    img(src='/images/pablo.png' style='width:100%;')
    .mainPhone
      form#subscribeForm(action='POST')
        div(style='margin-bottom:10px; color:white;') حتى تصلك عروض العقارات٬ اشترك برقم جوالك
        #error(style='color:red;')
        div(style='border:2px solid white; margin-bottom: 10px;')
          input#mobileSubscribe(maxlength='8', name='mobilenumberSubscribe', type='tel' placeholder='9XX أو 7XX')
        button.waves-effect.waves-light.btn.g-recaptcha(data-sitekey='6LcJb0UUAAAAAMF-pk_PxAeJjZRUqYIpiPFrE9rH', data-callback='onHuman', data-expired-callback='expiredFunc', style='width:200px; height:50px;' ) اشترك
      #check(style='display:none; text-align:center; color:white;')
        div تم الاشتراك
        img(style='max-height:100px;' src='/images/check.png')
    .mainAdOwner
      div إذا كنت تملك عقاراً٬ أضفه هنا
      br 
      div
        a.waves-effect.waves-light.btn(href='/business/upload') عقاري
    script
      include indexClient.js