extends layout

block content
  br
  .row(style='width:90%')
    div(style='min-height:40px;')
    .file-field.input-field(style='width:60%; margin:0 auto; margin-top:-30px; ')
      .btn(style='width:100%;')
        i.material-icons add_a_photo
        span   اﺭﻓﻊ اﻟﺼﻮﺭ
        input#file-input(multiple, type='file', style='height:45px' required)
    div(style='clear:both;')
    #imagegrid(style='overflow-x: scroll; overflow-y: hidden; vertical-align:middle;   white-space: nowrap;')
      #imagecontainer.imagecontainer(style='position:relative; margin: 0 auto;     margin:5px; display: none;')
        img.thumbnail(width='100%')
        .circle(style='position: absolute; left: 50%; margin-left: -40px; top:   50%;margin-top:    -40px;')
        img.checkmark(src='/images/check.png' style='width:50px; position: absolute; left:   50%;   margin-left: -25px; top: 50%;margin-top:  -20px; display:none;' )
  
  form(method='post', action='/admin/upload')
   .row
    .input-field.col.s12.rtl-input
      label الهاتف 
      input#region(type='tel', name='mobile')

   .row
    .input-field.col.s12.rtl-input
      label الهاتف 
      input#region(type='tel', name='mobile')
        
   input#imageid(type='hidden', name='imageid')

   button.btn.waves-effect.waves-light(disabled type='submit', value='send', style='width:100%;')
       i.material-icons send 
       |  ﺃﺭﺳﻞ 

  script(type='text/javascript', src='/javascript/circle-progress.min.js' defer)
  script
    include ./business/upload.js




