doctype html
html
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-114270231-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-114270231-1');

    - var title = meta? meta.title || 'البركة للعقار' : 'البركة للعقار'
    - var ogtitle = meta? meta.ogtitle || 'البركة للعقار' : 'البركة للعقار'
    - var ogimage = meta? meta.ogimage || 'https://www.barakah.cc/images/barakah.png' : 'https://www.barakah.cc/images/barakah.png'
    - var ogdescription = meta? meta.ogdescription || 'البركة للعقار - موقع إعلانات العقار' : 'البركة للعقار - موقع إعلانات العقار'

    title=title
    meta(name='description' content=ogdescription)
    meta(property='og:title' content=ogtitle)
    meta(property='og:description' content=ogdescription)
    meta(property='og:image' content=ogimage)
    link(rel='shortcut icon', href='/images/barakah.png', type='image/x-icon')

    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
    script(src='https://www.google.com/recaptcha/api.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if user
      div(style='min-heigt:60px; background: red; color: white; text-align:center;') Admin
    //- console.log(user)
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
    nav(style='padding-left:10px; text-align:center;')
      //span#title سوق عقار
      a(href='/')
       img#title(src='/images/barakah.png', style='width:60px;')
      .nav-wrapper
        .col.s12
          //a.breadcrumb(href='#!') Main
          //a.breadcrumb(href='#!') New Bill
    block content
    footer.page-footer(style='position:relative;')
      .container
        .row.rowfooter(style='margin-bottom:0px;')
          .col.m6.s9
            h5.white-text البركة للعقار
            p.grey-text.text-lighten-4 تواصل معنا بـ 
              a(href='tel:+96891544177') الإتصال 
              span أو
              a(href='https://api.whatsapp.com/send?phone=96891544177') الواتساب
          .left 
            h5.white-text
              a(href='/') الصفحة الرئيسة 
              i.material-icons home 

          //.col.l4.offset-l2.s12
            h5.white-text Links
            ul
              //li
                a.grey-text.text-lighten-3(href='#!') Link 1
              //li
                a.grey-text.text-lighten-3(href='#!') Link 2
      //.footer-copyright
        .container
          //a.grey-text.text-lighten-4.left(href='#!') More Links
          .right  البركة للعقار ٢٠١٨ ©
    script
      include shared.js
  

