extends layout

block content
  style
    include ./includes/login.css 
  .section
    main
      center
        img.responsive-img(style='width: 250px;', src='https://i.imgur.com/ax0NCsK.gif')
        .section
        h5.indigo-text Please, login into your account
        .section
        .container
          .z-depth-1.grey.lighten-4.row(style='display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;')
            form.col.s12(method='post')
              .row
                .col.s12
              .row
                .input-field.col.s12
                  input#email.validate(type='text', name='username')
                  label(for='email') Enter your username
              .row
                .input-field.col.s12
                  input#password.validate(type='password', name='password')
                  label(for='password') Enter your password
                label(style='float: right;')
                  a.pink-text(href='#!')
                    b Forgot Password?
              br
              center
                .row
                  button.col.s12.btn.btn-large.waves-effect.indigo(type='submit', name='btn_login') Login
        a(href='#!') Create account
      .section
      .section