extends layout

block content
  ul(style='padding:60px;')
    each val in properties
      li
        a(href='/customer/s/'+val.sid) #{val.user}

  //ul(style='padding:60px;')
  //  each val in properties
  //    li
  //      a(href='https://api.whatsapp.com/send?phone=968'+val.user) Whats #{val.user}
  //ul
  //  each val in invs
      li
        a(href='/business/upload?invid='+val.invid, target='_blank') Whatsapp



  ol(style='padding:60px;')
    each val in potentials
      li
        a(target='_blank' href='https://api.whatsapp.com/send?phone=968'+val.mobile+'&text='+wt) Whats #{val.mobile}


  form(method='Post' action='/admin/addLandlord' style='max-width:400px; text-align:center;')
    .row
      label(for='mobile') Test
      input#mobile(type='tel' name='mobile')
    .row
      button(type='submit' style='width:80%;') Send
  script.
    $(document).ready(function() {
        $(window).scrollBottom(0);
    });

    $.fn.scrollBottom = function(scroll){
      if(typeof scroll === 'number'){
        window.scrollTo(0,$(document).height() - $(window).height() - scroll);
        return $(document).height() - $(window).height() - scroll;
      } else {
        return $(document).height() - $(window).height() - $(window).scrollTop();
      }
    }
