extends ../layout

block content
  br
  div#errors(style='direction:rtl; padding:10px; color: red; border:1px solid #ff0000aa; border-radius:20px; width: 90%; margin:0px auto; margin-bottom: 5px; display:none;   background: #ffffffaa;') الرجاء إصلاح البيانات المُدخلة للحقول التالية:
    ol#errorsList
  div#instruction(style='direction:rtl; padding:10px; background: #ffffffaa;') 
   h4(style='margin:0px;') إرشادات
   ul(style='text-align:justify;') 
     li ١- الصور: حتى يكون معروضك واضحاً و يحمل أكبر قدر من المعلومات للزبائن، تنص سياسة الموقع على أن عدد الصور يجب أن لا يقل عن(٧) لأي نوع من العقار، ما عدا الأرض فيسمح بأقل عدد هو (٣).
     li ٢- في خانة المنطقة، يمكنك كتابة المنطقة حسب الوصف الأقرب و الأنسب من مثل: 'الخوض شارع الشباب جنب جمعية الرحمة الخيرية'، 'المعبيلة حي النور أمام معهد عمر بن الخطاب للمكفوفين'، 'الحيل الشمالية شارع دما البحري خلف مركز الشرق الأوسط لأبحاث تحلية المياه'.
     li ٣- في خانة التفاصيل، يمكنك استعمال لصق في حالة قمت بنسخ التفاصيل من مكان آخر.
  .row(style='width:90%')
    span.number ١
    .file-field.input-field(style='width:70%; margin:0 auto; margin-top:-30px; ')
      .btn(style='width:100%;')
        i.material-icons add_a_photo
        span   اﺭﻓﻊ اﻟﺼﻮﺭ
        input#file-input(multiple, type='file', style='height:45px' required)
    div(style='clear:both;')
    #imagegrid(style='overflow-x: scroll; overflow-y: hidden; vertical-align:middle;   white-space: nowrap;')
      #imagecontainer.imagecontainer(style='position:relative; margin: 0 auto;     margin:5px; display: none;')
        img.thumbnail(width='100%')
        .circle(style='position: absolute; left: 50%; margin-left: -40px; top:   50%;margin-top:    -40px;')
        img.checkmark(src='/images/check.png' style='width:50px; position: absolute; left:   50%;   margin-left: -25px; top: 50%;margin-top:  -20px; display:none;' )
  
  form#NewPropertyForm(enctype='multipart/form-data', method='post')
   .row
    span.number ٢
    .input-field.col.s12.rtl-input
      label المنطقة 
      input#region(type='text', name='region')
    div
   .row
     span.number ٣
     div(style='color:#2A329D; margin:10px 0; font-size:1rem;') نوع العقار
     div(style='float:right;') 
       p
        input#test1.with-gap(name='group1', type='radio' value='شقة' checked)
        label(for='test1') شقة 
       p 
        input#test2.with-gap(name='group1', type='radio' value='بيت' )
        label(for='test2') بيت 
       p 
        input#test3.with-gap(name='group1', type='radio' value='فيلا')
        label(for='test3') فيلا 
       p 
        input#test4.with-gap(name='group1', type='radio' value='ملحق')
        label(for='test4') ملحق 
     div(style='float:right;')  
       p 
        input#test5.with-gap(name='group1', type='radio' value='محل')
        label(for='test5') محل
       p 
        input#test8.with-gap(name='group1', type='radio' value='مكتب')
        label(for='test8') مكتب 
       p 
        input#test6.with-gap(name='group1', type='radio' value='معرض')
        label(for='test6') معرض 
       p 
        input#test7.with-gap(name='group1', type='radio' value='مخزن')
        label(for='test7') مخزن
     div(style='float:right;')
       p 
        input#test9.with-gap(name='group1', type='radio' value='شقة تجاري')
        label(for='test12') شقة تجاري
       p 
        input#test9.with-gap(name='group1', type='radio' value='غرفة')
        label(for='test13') غرفة  
       p 
        input#test9.with-gap(name='group1', type='radio' value='أرض')
        label(for='test9') أرض

     div(style='clear:both; padding:30px 0;')
      div(style='color:#2A329D; margin-top:20px 0; font-size:1rem;') عرض لـ
      div 
        p
          input#test20.with-gap(name='group2', type='radio' value='بيع')
          label(for='test20', style='margin-left:10px;') بيع
          span            
          input#test21.with-gap(name='group2', type='radio' value='إيجار' checked)
          label(for='test21') إيجار
   .row
     span.number ٤ 
     .input-field.col.s12.rtl-input
      label المساحة (م٢)
      input#area(type='tel', name='area')
     .input-field.col.s12.rtl-input
      label السعر - ريال
      input#price(type='tel', name='price')
 
   .row
     span.number ٥
     .input-field.col.s12.rtl-input
       textarea#details.materialize-textarea(type='text', maxlength='5000', data-length='5000', minlength='50', name='details')
       label التفاصيل
   .row
     span.number ٦
     .input-field.col.s12.rtl-input
       label(for='mobilenumber') الجوال    
       input#mobilenumber(name='mobilenumber', type='tel', placeholder='9XXXXXXX أو 7XXXXXXX')

   input#imageid(type='hidden', name='imageid')
   //div(style='direction:rtl; margin:10px 0px;')
     .g-recaptcha(data-sitekey='6LfFTkYUAAAAAMI4sBvsQpSJjykvIZx4hkXPVsRI')

   div#preview.btn.waves-effect.waves-light(style='width:100%; margin-bottom:20px;')
       i.material-icons remove_red_eye 
       |  معاينة قبل الإرسال 

   button.btn.waves-effect.waves-lightg-.g-recaptcha(data-sitekey='6LcJb0UUAAAAAMF-pk_PxAeJjZRUqYIpiPFrE9rH', data-callback='onHuman', disabled type='submit', name='action', value='send', style='width:100%;' data-expired-callback='expiredFunc')
       i.material-icons send 
       |  ﺃﺭﺳﻞ 
   br
   br

  #invId(style='display:none;') #{data.invid}
  #modal1.modal(style='width:88%; max-height:90%;')
   .modal-content
     h4 معاينة
     table.bordered.striped.highlight
       tbody#tbody
        
   .modal-footer
     a.modal-action.modal-close.waves-effect.waves-green.btn-flat() أغلق


  script(type='text/javascript', src='/javascript/circle-progress.min.js' defer)
  script
    include ./upload.js



