@font-face {
    font-family: Rodja;
    src: url(/stylesheets/Kacst.ttf);
}

#title {
	font-family: Rodja;
}
body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  direction: ltr;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/regal.png");
}

a {
  color: #00B7FF;
}

nav {
	background-color: #2A329D;
}

.rtl-input label {
	right: 0.75rem;
	color: #2A329D;
}

.imagecontainer {
	width: 350px;
}

.btn, .btn-large, .btn-flat {
	background-color: #2A329D;
	direction: ltr;
	color: white;
	height: 3rem;
}

form {
	width:90%; 
	margin:0 auto; clear:both;
}

.row {
	border:2px solid #2196f3; 
	padding:5px;
	padding-right: 10px;
	/*background-color: #2196f34d;*/
	direction: rtl;
	padding-bottom: 15px;
	background: #ffffffaa;

}

.display {
	border: none; 
	padding:0px;
	padding-bottom: 15px;
	margin: 0px;
  word-wrap: break-word;
  background-color: rgba(255,255,255,0.8);
}

@media (max-width: 800px) {
  .imagecontainer {
    width: 80%;
  }
}

.number {
	border-radius: 50%;
    /*behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  width: 36px;
  height: 36px;
  padding: 8px;
  border: 2px solid #2196f3;
  color: #2196f3;
  text-align: center;
  font: 24px Arial, sans-serif;
  display:inline-block;
	line-height:20px;
}

input[type=text], input[type=tel],  .select-wrapper input.select-dropdown, textarea.materialize-textarea  {
	border-bottom: 1px solid #2A329D;
	color: #2A329D;
	font-size: 20px;
}

form p {
	text-align: right;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
	color: #2A329D;
	font-size: 24px;
	padding-right: 35px;
	padding-left: 0px;
}

[type="radio"]+label:before, [type="radio"]+label:after {
	right: 0;
}

input[type=range] {
	border: none;
}

.modal {
	direction:rtl;
}

td {
		text-align: right;
}

#instruction {
	padding:20px;
	margin:0px auto;
	margin-bottom:10px;
	border:2px solid lightgrey;
	border-radius:30px;
	width:90%; 

}

#AdData {
	position: relative;
	width:95%; 
	max-width:500px;
	margin:0px auto; 
	margin-top:10px; 
}

.ribbon {
   position: absolute;
   left: -5px; top: -5px;
   z-index: 1;
   overflow: hidden;
   width: 75px; height: 75px; 
   text-align: right;
}
.ribbon span {
   font-size: 15px;
   color: #fff; 
   text-transform: uppercase; 
   text-align: center;
   font-weight: bold; line-height: 20px;
   transform: rotate(315deg);
   -webkit-transform: rotate(315deg); /* Needed for Safari */
   width: 100px; display: block;
   background: #79A70A;
   background: linear-gradient(#9BC90D 0%, #79A70A 100%);
   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
   position: absolute;
   top: 19px; left: -21px;
}

.redRibbon span{
  background: #A7790A;
  background: linear-gradient(#f93B0D 0%, #f93B0D 100%);
}

#ownerMo {
  background-color: #D32566;
  width: 100%;
}

#ownerWA {
  background-color: #25D366;
  margin-top:20px;
  width: 100%;
}

#WhatsAppShare {
  background-image: url('/images/WhatsApp.png');
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-clip: border-box;
  transition: background-size 0.2s;
  transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);

  display: block;
  width: 80px;
  height: 80px;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-indent: 100%;
  white-space:nowrap;
  float:right;
}

.listHeadersRight {
  color: #888;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(15px, 0);
  }
}

.rowfooter {
  border: none;
  background: none;
  margin-bottom: 0px;
}

footer.page-footer {
  /*background: #2A329DDD; this does not work in Samsung browser*/
  background-color: rgba(40, 40, 140, 0.8);
}

.row .col {
  float:right;
}

.imageText {
  height:70px;
  max-height: 70px;
}

.mainPhone {
  /*background: #090a;*/
  background-color: rgba(40, 140, 40, 0.8);
  margin-top: -5px;
  direction: rtl;
}

#subscribeForm {
  text-align: center;
  max-width: 600px;
  font-size:30px;
  margin:0px auto;
  padding:20px;
}

#mobileSubscribe {
  font-size: 40px;
  border-bottom: none;
  margin-bottom: 0px;
  line-height: 40px;
  height:80px;
  text-align: center;
}

.mainAdOwner {
  background-color: rgba(140, 40, 40, 0.8);
  direction: rtl;
  color: white;
  padding:20px;
  font-size:30px;
  text-align: center;
}

.imageCaption {
  position:absolute; 
  bottom:5px; 
  max-width:100%; 
  word-wrap: break-word; 
  right:0px; 
  background-color: rgba(0, 0, 0, 0.6); 
  padding:10px; 
  width:100%; 
  color:white;
}

footer.page-footer::after {
  content: " ";
  background: url(/images/muscat1.png);
  opacity: 0.8;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: repeat-x;
  background-size: contain;
  position: absolute;
  z-index: -1;
  background-position:bottom;
}


